@font-face {
    font-family: 'GmarketSansBold';
    src: url('/static/fonts/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('/static/fonts/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('/static/fonts/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* 전체 기본 폰트 지정 */
body {
    font-family: 'GmarketSansMedium', 'GmarketSansLight', 'GmarketSansBold', sans-serif;
    margin: 0;
    padding: 0;
}
